*{
  margin: 0;
	padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(246, 248, 249);
}

/* header e logo */
header{
  height: 100px;
  margin: 0 auto;
  background-color: white;
}

#logo{
  width: 75px;
  margin-top: 12px; 
}

header h1{
  display: inline-block;
  font-size: 350%;
  vertical-align: top;
  margin-top: 20px;
}
/* header e logo */

.white-box{
  background-color: white;
  width: 75%;
  height: 775px;
  margin-left: 12.5%;
  margin-top: 75px;
}

.container{
  margin-left: 5%;
}

/* stile bottoni */
.container button{
  margin-top: 15px;
}

#button-1{
  background-color: rgb(71, 173, 241);
  color: white;
  border: 0;
  width: 75px;
  height: 30px;
  border-radius: 10%;
}

#button-2{
  background-color: white;
  color: rgb(197, 203, 208);
  border-color: rgb(197, 203, 208);
  width: 100px;
  height: 30px;
  border-radius: 10%;
}
/* /stile bottoni */

#line{
  margin-top: 10px;
  border-width: 2px;
  border-color: rgba(246, 248, 249, .1);
}

.container p{
  margin-top: 25px;
  font-size: 150%;
}

.circle{
  width: 20px;
  height: 20px;
  color: rgb(101, 192, 169);
  border-color: rgb(101, 192, 169);
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-radius: 50%;
  margin-top: 10px;
  display: inline-block;
}

.tick{
  margin-left: 15%;
}

.tasks{
  font-size: 125%;
  margin-left: 1%;
}

.highlighted-text{
  display: inline-block;
  margin-left: 1%;
  background-color: rgb(71, 173, 241);
  color: white;
  width: 75px;
  height: 25px;
  text-align: center;
  padding-top: 3px;
  border-radius: 50%;
}